body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  color: #f954a4;
}

.navbar-brand img {
  max-height: 150px;
}

.navbar-light .navbar-nav .nav-link {
  color: #f954a4;
}
.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #f954a4 !important;
}

.btn-login {
  background-color: #ffffff;
  color: #f954a4;
  border-color: #f954a4;
  border-radius: 10px;
  border-width: 2px;
}

.btn-login:hover {
  background-color: #f954a4;
  color: white;
}

header {
  padding: 450px 0 165px;
  margin-top: -180px;
  background-image: url("../images/header3.jpg");
  background-size: cover;
}
header h1 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 48px;
}
header p {
  font-size: 25px;
  font-style: italic;
  font-weight: bolder;
  color: white;
}
header .btn-get-daftar {
  background-color: whitesmoke;
  color: #f954a4;
  border-radius: 7px;
  font-weight: bold;
  border-color: #ff69b4;
  border-style: groove;
}
header .btn-get-daftar:hover {
  background-color: #ff69b4;
  color: whitesmoke;
}

.section-stats {
  margin-top: -70px;
}
.section-stats .stats-detail {
  padding-top: 15px;
  background-color: #fff;
  padding-left: 70px;
  padding-right: 70px;
  border-radius: 10px;
  border-color: #f954a4;
  border-style: double;
}
.section-stats h2 {
  font-size: 50px;
  margin-bottom: 0;
  font-weight: bolder;
}
.section-stats p {
  font-size: 25px;
  font-weight: light;
}

.section-popular {
  min-height: 635px;
  background-color: #F08CB2;
  margin-top: -80px;
  margin-bottom: -230px;
}
.section-popular .section-popular-heading {
  margin-top: 150px;
}
.section-popular h2,
.section-popular p {
  color: #fff;
}
.section-popular h2 {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
}
.section-popular p {
  font-size: 30px;
}

.section-popular-content .section-popular-posyandu .things-posyandu {
  min-height: 380px;
  background-color: #ddd;
  color: #fff;
  padding: 35px;
  background-size: cover;
  margin-bottom: 30px;
}
.section-popular-content .posyandu-activity {
  font-size: 25px;
  color: #ec6b9d;
  font-weight: bold;
}
.section-popular-content .activity-button .btn-activity-details {
  background-color: #fff;
  color: #f954a4;
  font-weight: 700;
}
.section-popular-content .activity-button .btn-activity-details:hover {
  background-color: #f954a4;
  color: #fff;
}

.section-profile-heading {
  background: linear-gradient(#fff 0%, whitesmoke 100%);
  padding-top: 50px;
  min-height: 506px;
}
.section-profile-heading h2 {
  font-family: "Noto Sans", sans-serif;
  font-weight: bolder;
  font-size: 40px;
}

.section-profile-content {
  margin-top: -350px;
  padding-bottom: 50px;
}
.section-profile-content .things-profile {
  padding: 40px 20px 10px;
  border-radius: 11 px;
  margin-bottom: 20px;
  border-color: #ec6b9d;
  border-style: solid;
  background-color: #fff;
}
.section-profile-content .things-profile .profile-content {
  min-height: 380px;
}
.section-profile-content .things-profile h3 {
  font-size: 24px;
}
.section-profile-content .things-profile .profile {
  font-weight: 200;
  font-size: 25px;
  color: #F08CB2;
  min-height: 160px;
}
.section-profile-content .things-profile .profile-staff {
  font-weight: 700;
  font-size: 22px;
  color: #ec6b9d;
}
.section-profile-content .things-profile hr {
  margin-left: -20px;
  margin-right: -20px;
}
.section-profile-content .btn-more-known {
  background-color: #f2f2f2;
  color: #f954a4;
  font-weight: 700;
}
.section-profile-content .btn-more-known:hover {
  background-color: #f954a4;
  color: #fff;
}

.section-footer p {
  color: black;
}
.section-footer .whatsapp {
  color: green;
}
.section-footer .color-wasap {
  color: green;
  font-weight: 500;
  text-decoration: none;
}
.section-footer svg {
  color: darkgray;
}
.section-footer .email-input {
  color: darkgrey;
  font-weight: 500;
  text-decoration: none;
}

.section-details-header {
  min-height: 410px;
  background: #ffe6f2;
  margin-top: -180px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}
.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}
.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #ec6b9d;
}
.section-details-content .card-details {
  padding: 30px;
  border-radius: 11px;
}
.section-details-content .card-details h1 {
  font-size: 26px;
}
.section-details-content .card-details h2 {
  font-size: 26px;
}
.section-details-content .card-details p {
  font-size: 18px;
  color: black;
}
.section-details-content .features {
  margin-top: 20px;
}
.section-details-content .features h3 {
  font-size: 18px;
  color: #f954a4;
  margin-bottom: 0px;
}
.section-details-content .features p {
  margin-bottom: 0px;
}
.section-details-content .features .description {
  margin-left: 10px;
  overflow: hidden;
  float: center;
}
.section-details-content .features .fa-solid {
  width: 45px;
  height: 45px;
  float: left;
}
.section-details-content .gallery .xzoom-container {
  display: block;
}
.section-details-content .gallery .xzoom-container .xzoom {
  width: 100%;
  box-shadow: none;
  margin-bottom: 10px;
}
.section-details-content .gallery .xzoom-container .xactive {
  border: 10px solid black;
  box-shadow: none;
}
.section-details-content .Imunisasi-text {
  text-decoration: none;
  color: #F08CB2;
}
.section-details-content .Imunisasi-text:hover {
  color: #ddd;
}
.section-details-content .text-isi {
  text-align: justify;
}
.section-details-content .text-isi b {
  color: #cd4c77;
}
.section-details-content .join-container {
  margin-top: -11px;
  border-radius: 15px solid #ddd;
}
.section-details-content .btn-join-now {
  background-color: #ff69b4;
  color: #fff;
}
.section-details-content .btn-join-now:hover {
  background-color: #fabbd0;
  color: #fff;
}/*# sourceMappingURL=main.css.map */